<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="akumina:LogLevel" value="2" />
		<add key="akumina:LogPrefix" value="aklogs" />
		<add key="akumina:tempuploadpath" value="C:\TEMP\" />
		<add key="akumina:LogInterval" value="5" />
		<add key="akumina:LogRemoteFileConnection" value="logs" />
		<add key="akumina:RemoteStorageConnection" value="" />
		<add key="akumina:MaxDegreeOfParallelism" value="30" />
		<add key="akumina:ImageUploadBatchSize" value="30" />
		<add key="akumina:WidgetPackageMaxDegreeOfParallelism" value="15" />
		<!-- Default SAS Uri expiry is 60 mins, however expiring it before 10 mins to allow the running threads to complete,
			assuming 10 mins the max time taken by longest thread to run  -->
		<add key="akumina:SasTtlMinutes" value="50" />
		<add key="akumina:UseMsalTokenCacheFileName" value="akumina.sitedeployer.tokencache"/>
		<add key="akumina:UseMsalTokenCache" value="true"/>
		<add key="akumina:UseProtectedMsalTokenCache" value="true"/>
		<!--AzureTable, FlatFile-->
		<add key="akumina:LogListener" value="FlatFile" />
		<!--add key="spUser" value="" />
		<add key="spPassword" value="" />
		<add key="spUrl" value="" /-->
		<!-- export options
		<add key="baseSiteUrl" value="" />
		<add key="exportLists" value="" />
		-->
		<add key="deleteLists" value="" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.3.2.0" newVersion="9.3.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.18.0.315" newVersion="2.18.0.315" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.16.1.0" newVersion="0.16.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.42.1.0" newVersion="4.42.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
