/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.button {
    background-color: #78bc1f;
    color: #40395f;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

header a, header a:hover {
    text-decoration: none;
}

footer a, footer a:hover {
    text-decoration: none;
}

a.navItem {
    text-decoration: none;
}

a.navItem:hover {
    text-decoration: underline;
    font-weight: bold;
}

.button-new {
    position: relative;
    display: inline-block;
}

.button-new img {
    width: 40px;
    position: absolute;
    left: 2px;
    top: 0px;
}

.button-new p {
    margin-bottom: 0px;
    padding-left: 7px;
}