/* your custom css */

:root {
    --primary: #d417b6;
    --dark-primary: #29163c;
    --text-color: #29163c;
    --accent: #13b2b4;
    --white: #ffffff;
    --border-color: #d3d5df;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    color: var(--text-color);
}

.button {
    font-weight: 500;
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.button:hover {
    background: var(--primary);
    color: var(--white);
}


.fixedHeaderContainer {
    background: var(--white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.34);
}


.fixedHeaderContainer a {
    color: var(--text-color);
}

.promoSection .promoRow .pluginWrapper {
    display: flex;
    gap: 12px;
}

.navSearchWrapper:before {
    border: 3px solid var(--text-color);
}

.navSearchWrapper:after {
    background: var(--text-color);
}

input#search_input_react {
    background-color: var(--white);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

input#search_input_react:active,
input#search_input_react:focus {
    color: var(--text-color);
}

input::-webkit-input-placeholder {
    color: var(--text-color);
}

input::-moz-placeholder {
    color: var(--text-color);
}

input:-ms-input-placeholder {
    color: var(--text-color);
}

input::-ms-input-placeholder {
    color: var(--text-color);
}

input::placeholder {
    color: var(--text-color);
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

header a, header a:hover {
    text-decoration: none;
}

footer a, footer a:hover {
    text-decoration: none;
}

a.navItem {
    text-decoration: none;
}

a.navItem:hover {
    text-decoration: underline;
    font-weight: bold;
}

.button-new {
    position: relative;
    display: inline-block;
}

.button-new img {
    width: 40px;
    position: absolute;
    left: 2px;
    top: 0px;
}

.button-new p {
    margin-bottom: 0px;
    padding-left: 7px;
}

.projectLogo img {
    padding-left: 10px;
}

.navigationSlider .slidingNav ul li a {
    color: var(--text-color);
}

.nav-footer {
    background: var(--dark-primary);
    color: var(--white);
}

.nav-footer .sitemap a {
    color: var(--white);
}

.nav-footer .sitemap h5, .nav-footer .sitemap h5 > a, .nav-footer .sitemap h6, .nav-footer .sitemap h6 > a {
    color: var(--white)
}

.nav-footer .copyright {
    color: var(--white);
}