<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="akumina:LogLevel" value="2" />
    <add key="akumina:LogPrefix" value="aklogs" />
    <add key="akumina:tempuploadpath" value="C:\TEMP\" />
    <add key="akumina:LogInterval" value="5" />
    <add key="akumina:LogRemoteFileConnection" value="logs" />
    <add key="akumina:RemoteStorageConnection" value="" />
    <!--AzureTable, FlatFile-->
    <add key="akumina:LogListener" value="FlatFile" />
    <!--add key="spUser" value="jarden@akuminadev02.onmicrosoft.com" />
    <add key="spPassword" value="@kumina603..." />
    <add key="spUrl" value="https://akuminadev02.sharepoint.com/sites/4017110605ICRelease" /-->
    <!-- export options
    <add key="baseSiteUrl" value="https://akuminademo.sharepoint.com/sites/dwptrial100,/sites/dwptrial100" />
    <add key="exportLists" value="CompanyNews_AK" />
    -->
    <add key="deleteLists" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.0.0" newVersion="8.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.1.30601" newVersion="3.17.1.30601" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>